<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="image">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> a random api that just give a Toaru Picture</p>
    <img id="img" alt="">
    <script>
      let option = {
        method: 'GET',
        headers: new Headers(),
        mode: 'no-cors'
      };

      (async() => {
        const res = await fetch('/api/bilibili', option);
        const data = await res.json()

        console.log(data.data)
        document.getElementById("img").setAttribute('src', data.data)
        document.querySelector('meta[name="image"]').setAttribute("content", data.data);
      })()
    </script>
  </body>
</html>
